* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    height: 100%;
    background-color: #F5F5DC;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    font-size: 30px;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

header .function-menu {
    flex-grow: 1;
    display: flex;
}

header .menu-item {
    display: inline-block;
    flex: 1;
    width: 100%;
    background-color: yellowgreen;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

header .menu-item.active {
    color: #000;
}

header .menu-item+.menu-item {
    margin-left: 5px;
}

header .function-time {
    width: 280px;
    padding-left: 10px;
}

main {
    height: 85%;
    padding: 10px;
    display: flex;
    flex: 1;
}

main .content {
    flex: 1;
    box-sizing: border-box;
    border: 2px double black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    overflow-y: scroll;
}

main .content-item {
    width: 30%;
    height: 270px;
    margin: 5px;
    border: 3px solid #fff;
    box-sizing: border-box;
    position: relative;
    background-color: #ccc;
}

main .content-item.active {
    border: 3px solid blue;
}

main .content img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-fit: contain;
}

main .content .comment {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main .pay {
    width: 300px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main .pay .item-list {
    flex: 1;
    border: 1px solid black;
    background-color: #fff;
    overflow-y: scroll;
    height: 100%;
}

main .item-list-table {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 16px;
    table-layout: fixed;
}

main .item-list-table td:nth-child(1),
main .item-list-table th:nth-child(1) {
    width: 10%;
}

main .item-list-table td:nth-child(3),
main .item-list-table th:nth-child(3),
main .item-list-table td:nth-child(4),
main .item-list-table th:nth-child(4) {
    width: 15%;
}

main .item-list-table td:nth-child(5),
main .item-list-table th:nth-child(5) {
    width: 20%;
}

main .item-list-table td {
    border-bottom: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .item-list-table a {
    color: black;
    text-decoration: none;
}

main .item-list-table th {
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    background-color: #fff;
}

main .pay .check,
main .pay .cancel {
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

main .pay .check {
    background-color: green;
}

main .pay .cancel {
    background-color: goldenrod;
}



footer {
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 3px 0;
    box-sizing: border-box;
}

.detail-wrap {
    background-color: rgba(0, 0, 0, .6);
    z-index: 5000;
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.detail-wrap .content {
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.detail-wrap .header {
    font-size: 30px;
    color: darkblue;
    font-weight: 800;
    padding-bottom: 10px;

}

.detail-wrap .list {
    padding: 15px 0;
    border-top:  2px solid #ccc;
    border-bottom:  2px solid #ccc;
}

.detail-wrap .display-number {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
}

.detail-wrap .action {
    text-align: center;
    padding-top: 10px;
}

.detail-wrap .action a {
    display: inline-block;
    text-decoration: none;
    width: 45%;
    font-size: 20px;
    color: darkblue;
    font-weight: 700;
}

.detail-wrap .action .split {
    border-right: 1px solid #888;
}

.detail-wrap .list .count:focus {
    outline: none;
}

.detail-wrap .count-button {
    margin-top: 5px;
    font-size: 0;
    box-sizing: border-box;
    border: 1px solid #888;
    border-radius: 3px;
    margin-top: 10px;
}

.detail-wrap .list a {
    display: inline-block;
    width: 138px;
    font-size: 20px;
    text-decoration: none;
    background-color: #ffa;
    border: 1px solid #888;
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
    padding:  5px 0;
    color: #000;
    font-weight: 600;
    border-radius: 3px;
}
.detail-wrap .list a:last-child {
    width: 286px;
}

.meat-list-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}

.meat-list-wrap .meat-list {
    width: 350px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.meat-list-wrap .meat-list h2 {
    text-align: center;
}

.meat-list-wrap .pos-list-header {
    border-bottom: 2px dotted #ccc;
    padding: 10px;
    margin: 5px;
}

.meat-list-wrap .pos-list-table th:nth-child(1),
.meat-list-wrap .pos-list-table td:nth-child(1) {
    width: 55%;
}

.meat-list-wrap .order-time {
    padding-top: 10px;
    font-weight: 700;
}

.meat-list-wrap .pos-list-table {
    min-height: 75px;
    width: 100%;
    text-align: center;
}

.meat-list .total-count {
    font-weight: 700;
    padding: 10px;
    border-top: 2px dotted #ccc;
    margin: 5px;
}